:root {
  --bs-border-color: #0011ff;
}

.Root {
  text-align: center;
}

.Root-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Root-link {
  color: #61dafb;
}

.Home {
  text-align: center;
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(121, 80, 9, 1) 36%, rgba(221, 203, 0, 1) 100%);
}

html {
  background-color: rgb(0, 0, 0, 1)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-button:not(.collapsed) {
  background: rgb(213, 118, 0);
  background: radial-gradient(circle, rgba(213, 118, 0, 1) 0%, rgba(191, 109, 0, 1) 77%, rgba(50, 31, 0, 1) 100%);

}

.accordion-item:first-of-type>.accordion-header .accordion-button {
  color: white;

}

.accordion-button.collapsed:hover {
  color: #a7b1c2;
  /* background-color: #293846; */
  background: radial-gradient(circle, rgba(50, 31, 0, 1) 90%, rgba(213, 118, 0, 1) 100%);
}

.accordion-button.collapsed {
  color: #ffffff;
  /* background: #8d5500; */
  background: radial-gradient(circle, rgba(50, 31, 0, 1) 60%, rgba(213, 118, 0, 1) 90%);
}

.accordion-body {
  background: rgb(213, 118, 0);
  background: radial-gradient(circle, rgba(213, 118, 0, 1) 0%, rgba(191, 109, 0, 1) 77%, rgba(50, 31, 0, 1) 100%);
}

.accordion-item.borderFix {
  border-color: rgb(160, 218, 0);
}

.modal-content {
  background: rgb(213, 118, 0);
  background: radial-gradient(circle, rgba(213, 118, 0, 1) 0%, rgba(191, 109, 0, 1) 77%, rgba(50, 31, 0, 1) 100%);
}


textarea.form-control {
  background-image: url("../../../../public/scroll.jpg");
  resize: none;
}

input.form-control {
  color: #ffffff;
  background-color: #5f3900;
}

input.form-control:focus {
  color: #ffffff;
  background-color: #5f3900;
}

/* .form-select {
  color: #ffffff;
  background-color: #5f3900;
} */

.btn-danger {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


.btn-success {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-primary {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-info {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.subObject {
  background-image: url("../../../../public/sub-scroll.jpg");
}

.noteBoard {
  border: 3px solid #000000 !important;
  border-radius: 1em 1em 1em 1em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background-image: url("../../../../public/board.jpg");
  background-size: 60em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  min-height:20em !important;
}

.oneEntryButton {
  text-align: center !important;
  width: auto !important;
  padding-bottom: 2em !important;
  border-radius: 1em 1em 0 0 !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.oneEntryBody {
  padding-top: 1em !important;
  padding-bottom: 2em !important;
  border-radius: 0 0 1em 1em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}