.card {
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(0, 103, 194, 0.5);
}

.card-body {
  padding: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.text-center a {
  color: #007bff;
  transition: color 0.3s;
}

.text-center a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.input-group-text {
  background-color: #f0f2f5;
  border: none;
}

.invalid-feedback {
  display: block;
  white-space:pre-wrap;
  text-align: left;
}